Repository arbertrary/decker-time-capsule: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:base, image:deps

image:base:
  tags:
  - docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: image-base
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

image:deps:
  tags:
  - docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: image-deps
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

Split out image creation to child pipeline
  .gitlab-ci.yml
  build-image-ci.yaml
Due: none

Add rules for child pipeline
  .gitlab-ci.yml
  build-image-ci.yaml
Due: none

Change Dockerfile to trigger
  .gitlab-ci.yml
  Dockerfile
Due: image:base, image:deps

Only build shareable dependencies
  .gitlab-ci.yml
  Dockerfile
Due: image:base, image:deps

Fix broken stack call
  Dockerfile
Due: image:base, image:deps

Switch kaniko parameters to maybe make it not repeat stages
  build-image-ci.yaml
Due: none

Put in rules to not execute child pipeline if not needed
  .gitlab-ci.yml
  build-image-ci.yaml
Due: none

Move ci into its own directory
  .gitlab-ci.yml
  Dockerfile
  ci/Dockerfile-base
  ci/Dockerfile-decker
  ci/Dockerfile-deps
  ci/build-image.yaml
Due: image:base, image:deps

Fix include path
  .gitlab-ci.yml
Due: none

Fix ci yaml
  .gitlab-ci.yml
Due: none

Touch Dockerfile to try rebuild
  ci/Dockerfile-base
Due: none

Change the changes directives in the child pipeline to be relative to the git root
  ci/build-image.yaml
Due: none

Fix last CI errors
  .gitlab-ci.yml
  ci/Dockerfile-base
  ci/build-image.yaml
  package.yaml
Due: image:deps

See to wait for image creation
  .gitlab-ci.yml
Due: none

Move resource group to child pipeline steps
  .gitlab-ci.yml
  ci/build-image.yaml
Due: none

Remove dependency of changed gitlab yaml for rerun
  .gitlab-ci.yml
  ci/build-image.yaml
Due: none

Simplify and not bake in compilation dependencies into the build image anymore
  .gitlab-ci.yml
  Dockerfile
  ci/Dockerfile-base
  ci/Dockerfile-decker
  ci/Dockerfile-deps
  ci/build-image.yaml
Due: image:base, image:deps

Guard against building the build image for merge requests
  .gitlab-ci.yml
Due: none

Change build image repository name
  .gitlab-ci.yml
Due: none

Update Dockerfile ubuntu version
  Dockerfile
Due: image:base, image:deps

Remove review app because it is not used
  .gitlab-ci.yml
Due: none

Add npm to the Dockerfile
  Dockerfile
Due: image:base, image:deps

Add update of npm
  Dockerfile
Due: image:base, image:deps

Update CI needs to let windows and mac start as soon as possible
  .gitlab-ci.yml
Due: none

Fix too much deletion in the CI file
  .gitlab-ci.yml
Due: none

Revert package.yaml
  package.yaml
Due: image:deps

Integrate Armin's suggestion for a clean Mac build
  .gitlab-ci.yml
Due: none

resize relative SVG fx
  resource/support/js/decker.js
Due: none

relative SVG resize - caption support
  resource/support/js/decker.js
  src/Text/Decker/Filter/Decker.hs
Due: none

Added test:mac to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

german index
  resource/template/default.yaml
  src/Text/Decker/Writer/Html.hs
Due: none

add link to index in menu
  resource/support/plugins/menu/menu.js
Due: none

try adding test:windows to gitlab ci
  .gitlab-ci.yml
Due: none

Remove & from stack test call on windows
  .gitlab-ci.yml
Due: none

Remove test:win stage again. Needs to be done differently
  .gitlab-ci.yml
Due: none

try simple test:win
  .gitlab-ci.yml
Due: none

try Aeson to parse/work with quiz meta
  src/Text/Decker/Filter/Quiz.hs
Due: none

parse quiz style with Aeson
  src/Text/Decker/Filter/Quiz.hs
  test/decks/quiz-deck.md
Due: none

replaced old QuizMeta with QuizMeta being handled by Aeson
  src/Text/Decker/Filter/Quiz.hs
  test/decks/quiz-deck.md
Due: none

add placeholder in pdf, handouts
  resource/support/css/_new-media.scss
  resource/support/css/decker.css
  resource/support/css/handout.css
  resource/support/css/handout.scss
  resource/support/css/page.css
  src/Text/Decker/Filter/Decker.hs
  src/Text/Decker/Filter/Streaming.hs
Due: none

Path conditions:
  image:base: any of: Dockerfile, .gitlab-ci.yaml
  image:deps: any of: Dockerfile, stack.yaml, package.yaml, .gitlab-ci.yaml
